@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --cor1:#2786A8;
    --cor2:#0F4B61;
    --cor3:#32AEDB;
    --cor4:#77C5E1;
    --cor5:#15495C;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:var(--cor5);
    
}
header{/*config cabeçalho*/
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
}
header > h1{/*config cabeçalho*/
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
 }
 header > p{/*config cabeçalho*/
    color: white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}
nav{/*config menu*/
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    text-align: center;
    font-size: 20px;
}
nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
    text-align: center;
}
nav > a:hover{
    background-color: var(--cor5);
    color: #fff;
}
main{/*config menu*/
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h2{
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
img{
    margin: auto;
    display: block;
}
footer{
    background-color: var(--cor3);
    color: white;
    text-align: center;

}